body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.stack-title {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.stack-input {
    text-align: center;
}

.push {
    justify-content: center;
    justify-items: center;
}

.pop {
    margin-top: 25px;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
}