* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


/* body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
}

a {
    color: #00B7FF;
}

.container {
    height: 100vh;
    width: auto;
}

.stack-title {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.stack-input {
    text-align: center;
    justify-items: center;
    align-self: center;
}

.push {
    justify-content: center;
    justify-items: center;
}

.pop {
    margin-top: 25px;
}

.flex-row {
    display: flex;
    flex-direction: column;
}

.flex-col {
    display: flex;
    flex-direction: column;
} */